<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Classe - Promo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>B1 Informatique</h1>
        <p>Filière : Informatique</p>
        <p>Niveau : Bachelor 1</p>
        <p>Nombre d'étudiants : 20</p>

        <h2>Liste des étudiants</h2>
        <ul>
            <li>
                Dupont Jean, Age: 20, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Martin Marie, Age: 21, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
            <li>
                Durand Alex, Age: 22, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Lefebvre Sophie, Age: 19, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
            <li>
                Moreau François, Age: 21, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Girard Émilie, Age: 20, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
            <li>
                Dubois Mathieu, Age: 22, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Leroy Camille, Age: 19, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
            <li>
                Blanc Julien, Age: 21, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Mercier Nathalie, Age: 20, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
            <li>
                Roussel Thomas, Age: 22, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Bertrand Isabelle, Age: 19, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
            <li>
                Lemaire Maxime, Age: 21, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Roux Stéphanie, Age: 20, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
            <li>
                Millet Alexandre, Age: 22, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Bouvier Chloé, Age: 19, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
            <li>
                Gallet Julien, Age: 21, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Boucher Amandine, Age: 20, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
            <li>
                Breton Matthieu, Age: 22, Sexe: 
                <img src="https://media.istockphoto.com/id/1388648617/fr/photo/jeune-homme-de-race-blanche-confiant-en-v%C3%AAtements-d%C3%A9contract%C3%A9s-en-jean-avec-les-bras-crois%C3%A9s.jpg?s=612x612&w=0&k=20&c=SoDIZ0KCisDUH2nxDBUhrvDQI6RUFaSlJv8CKDKUXHA=" alt="Masculin">
            </li>
            <li>
                Leclercq Julie, Age: 19, Sexe: 
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/5m/femme-chapeau-cheveux-vent.jpg" alt="Féminin">
            </li>
        </ul>
    </div>
</body>
</html>
